.overlay {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 135, 156, 0.363);
  transition: .5s; }

.linkButton {
  position: absolute;
  left: 40%;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  width: 20%;
  min-width: 110px; }
  .linkButton:hover {
    background-color: #00879c;
    color: white;
    border-color: white;
    transition: .25s; }

.liveButton {
  top: 33%; }

.githubButton {
  top: 46%; }

.projectImageTile {
  height: 100%;
  width: 14.3%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-right: 3px solid #071013;
  text-align: center;
  transition: .5s; }
  .projectImageTile img {
    width: auto;
    margin-left: -50%; }
  .projectImageTile:hover {
    width: 28.6%; }
    .projectImageTile:hover > .overlay {
      display: block;
      transition: .5s; }
    .projectImageTile:hover img {
      margin-left: -25%; }

#empty {
  background-color: #071013; }
  #empty:hover > .overlay {
    display: none;
    transition: .5s; }
