.topButton {
  height: 75px;
  width: 50%;
  float: left;
  text-align: center;
  padding-top: 30px;
  transition: .05s;
  color: #3d3d3d;
  text-shadow: none;
  animation: 3s lighting infinite; }
  .topButton:hover {
    cursor: crosshair;
    animation: 1.5s hover-lighting;
    color: #24aabe;
    text-shadow: 0 0 10px #a7a7a7, 0 0 20px #a7a7a7, 0 0 30px #2DE1FC, 0 0 40px #2DE1FC, 0 0 50px #2DE1FC, 0 0 60px #2DE1FC, 0 0 70px #2DE1FC; }

@keyframes lighting {
  0% {
    color: #3d3d3d;
    text-shadow: none; }
  10% {
    color: #24aabe;
    text-shadow: 0 0 10px #a7a7a7, 0 0 20px #a7a7a7, 0 0 30px #2DE1FC, 0 0 40px #2DE1FC, 0 0 50px #2DE1FC, 0 0 60px #2DE1FC, 0 0 70px #2DE1FC; }
  12% {
    color: #3d3d3d;
    text-shadow: none; }
  60% {
    color: #3d3d3d;
    text-shadow: none; }
  70% {
    color: #24aabe;
    text-shadow: 0 0 10px #a7a7a7, 0 0 20px #a7a7a7, 0 0 30px #2DE1FC, 0 0 40px #2DE1FC, 0 0 50px #2DE1FC, 0 0 60px #2DE1FC, 0 0 70px #2DE1FC; }
  74% {
    color: #3d3d3d;
    text-shadow: none; }
  78% {
    color: #3d3d3d;
    text-shadow: none; }
  80% {
    color: #24aabe;
    text-shadow: 0 0 10px #a7a7a7, 0 0 20px #a7a7a7, 0 0 30px #2DE1FC, 0 0 40px #2DE1FC, 0 0 50px #2DE1FC, 0 0 60px #2DE1FC, 0 0 70px #2DE1FC; }
  84% {
    color: #3d3d3d;
    text-shadow: none; }
  90% { }
  100% {
    color: #3d3d3d;
    text-shadow: none; } }

@keyframes hover-lighting {
  0% {
    color: #3d3d3d;
    text-shadow: none; }
  100% {
    color: #24aabe;
    text-shadow: 0 0 10px #a7a7a7, 0 0 20px #a7a7a7, 0 0 30px #2DE1FC, 0 0 40px #2DE1FC, 0 0 50px #2DE1FC, 0 0 60px #2DE1FC, 0 0 70px #2DE1FC; } }
