$hovered: false;
.projectImageTile{
height:100%;
width:14.3%;
$hovered:false;
overflow: hidden;
position: relative;
display: inline-block;
border-right:3px solid #071013;
text-align: center;

img{
    width:auto;
    margin-left:-50%;
}

transition:.5s;


&:hover {
    
    $hovered:true;
    
    width:28.6%;
    img{
        
        margin-left:-25%;
    }
   
   }
 
   
}

#empty{
    background-color: #071013;
}



