.projectImageTile {
  height: 100%;
  width: 14.3%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-right: 3px solid #071013;
  text-align: center;
  transition: .5s; }

.projectImageTile img {
  width: auto;
  margin-left: -50%; }

.projectImageTile:hover {
  width: 28.6%; }

.projectImageTile:hover img {
  margin-left: -25%; }

#empty {
  background-color: #071013; }
