img {
  height: 100%;
  width: 100%;
  transition: 1s; }

.container {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
  max-width: 100% !important; }

.row, .col {
  margin: 0px !important;
  padding: 0px !important; }

.footer {
  border-top: 2px solid #2DE1FC;
  background-color: #071013;
  height: 150px; }

.footer i {
  color: #2DE1FC;
  margin: 5px;
  margin-top: 25px; }

#socialMediaIcons {
  width: 150px;
  margin-left: auto;
  margin-right: auto; }

.header {
  border-bottom: 4px solid #2DE1FC;
  background-color: #071013;
  height: 150px;
  width: 100%; }

#bioContent {
  height: 250px;
  background-image: url("./img/america-architecture-bay-boat-208745.jpg");
  background-position: center;
  background-size: cover; }

#bioTextContainer {
  margin: 10px;
  padding: 10px;
  background-color: #071013a9;
  color: white;
  animation: 2s ease textEntrance;
  border-radius: 5px;
  height: 90%; }

#skillContent {
  height: 175px;
  background-color: #071013;
  border-top: 4px solid #2DE1FC;
  border-bottom: 4px solid #2DE1FC;
  white-space: nowrap; }

#skillContentContainer {
  height: 100%;
  width: 800px;
  margin: 0px auto; }

#projectContent {
  height: 500px;
  display: inline-block;
  white-space: nowrap; }

/*Animations*/
@keyframes textEntrance {
  0% {
    margin-top: 0px;
    padding: 10px;
    background-color: rgba(0, 189, 157, 0);
    color: rgba(255, 255, 255, 0); }
  100% {
    margin: 60px;
    padding: 10px;
    background-color: rgba(0, 189, 157, 0.685);
    color: white; } }
