.skillContainer{
    height:140px;
    margin:10px;
    width:140px;
    
    display:inline-block;
   
   img{
       animation: entranceEffect 1s 1;
       animation-timing-function: ease-in;
       
       animation-fill-mode: backwards;
       animation-delay: .33s;
   }
   
}
.skillContainer{
img:hover{
       
    animation: hoverEffect 2s linear infinite;
    margin:auto;
  
    animation-fill-mode: forwards;
   }
}

@keyframes entranceEffect{
 0%{
    margin-top:-10px;
    opacity: 0;
 }

 100%{
    
    opacity: 1;
 }
}

@keyframes hoverEffect{
    0%{
        height:100%;
        width:100%;
        margin:0%;
    }

    50%{
        height:110%;
        width:110%;
        margin:-5%;
        
    }
    100%{
        height:100%;
        width:100%;
        margin:0%;
    }
}