
$bright-blue-color:#2DE1FC;
$darkish-black-color:#071013;
$mid-green-color:#09E85E;
$pale-white-color:#FFFBFA;
$mid-bluegreen-color:#00BD9D;

img{
    height:100%;
    width:100%;
    transition: 1s;
}

.container{ 
        width:100%;
        margin:0px!important;
        padding:0px!important;
        max-width:100%!important;
}
.row, .col{
    margin:0px!important;
    padding:0px!important;
}

.footer{
    border-top:2px solid $bright-blue-color;
    background-color: $darkish-black-color;
    height:150px;
    i{
        color:$bright-blue-color;
        margin:5px;
        margin-top:25px;
    }
}
#socialMediaIcons{
    width : 150px;
    margin-left:auto;
    margin-right:auto;
    
}
.header{
    border-bottom:4px solid $bright-blue-color;
    background-color: $darkish-black-color;
    height:150px;
    width:100%;
}
#bioContent{
height:250px;
background-position:center ;
background-size: cover;

}
.bioContent-left{
    height:250px;
    width:200px;
    margin: 0px auto;
}
@media all and (min-width:768px ){
#bioTextContainer{
    margin:10px;
    padding:10px;
    background-color: #071013a9;
    color:white;
    animation: 2s ease textEntrance;
    border-radius: 5px;
    height:90%;
    width:100%;
    margin-left:0%;
    transition: .5s;
    
}
#bioTextContainer:hover{
    width:400%;
    margin-left:-300%;
    transition: .5s;
}
}
@media all and (max-width:768px ){
    #bioTextContainer{
        padding:10px;
    background-color: #071013a9;
    border-radius: 5px;
    color:white;
        width:90%;
        height:90%;
        margin:0% auto;
        p{
            overflow:hidden;
        }
    }
}

#skillContent{
    height:175px;
    background-color: $darkish-black-color;
   border-top:4px solid $bright-blue-color;
   border-bottom:4px solid $bright-blue-color;
    white-space: nowrap;
    overflow-x: hidden; 
                overflow-x: auto; 
    }
    #bioTextContainer-left{
        white-space: nowrap;
        max-height:250%;
    }

#skillContentContainer{

    height:100%;
    width:800px;
    margin:0px auto;
}
#projectContent{
    height:500px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden; 
             
    }








/*Animations*/

@keyframes textEntrance {
    0% {
        margin-top:0px;
        padding:10px;
        background-color: #07101300;
        color:rgba(255, 255, 255, 0);
    }
    
    
    100% {
        margin:10px;
        padding:10px;
        background-color: #071013a9;
        color:white;
    }
  }