img {
  height: 100%;
  width: 100%;
  transition: 1s; }

.container {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
  max-width: 100% !important; }

.row, .col {
  margin: 0px !important;
  padding: 0px !important; }

.footer {
  border-top: 2px solid #2DE1FC;
  background-color: #071013;
  height: 150px; }

.footer i {
  color: #2DE1FC;
  margin: 5px;
  margin-top: 25px; }

#socialMediaIcons {
  width: 150px;
  margin-left: auto;
  margin-right: auto; }

.header {
  border-bottom: 4px solid #2DE1FC;
  background-color: #071013;
  height: 150px;
  width: 100%; }

#bioContent {
  height: 250px;
  background-position: center;
  background-size: cover; }

.bioContent-left {
  height: 250px;
  width: 200px;
  margin: 0px auto; }

@media all and (min-width: 768px) {
  #bioTextContainer {
    margin: 10px;
    padding: 10px;
    background-color: #071013a9;
    color: white;
    animation: 2s ease textEntrance;
    border-radius: 5px;
    height: 90%;
    width: 100%;
    margin-left: 0%;
    transition: .5s; }
  #bioTextContainer:hover {
    width: 400%;
    margin-left: -300%;
    transition: .5s; } }

@media all and (max-width: 768px) {
  #bioTextContainer {
    padding: 10px;
    background-color: #071013a9;
    border-radius: 5px;
    color: white;
    width: 90%;
    height: 90%;
    margin: 0% auto; }
  #bioTextContainer p {
    overflow: hidden; } }

#skillContent {
  height: 175px;
  background-color: #071013;
  border-top: 4px solid #2DE1FC;
  border-bottom: 4px solid #2DE1FC;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-x: auto; }

#bioTextContainer-left {
  white-space: nowrap;
  max-height: 250%; }

#skillContentContainer {
  height: 100%;
  width: 800px;
  margin: 0px auto; }

#projectContent {
  height: 500px;
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-x: auto; }

/*Animations*/
@keyframes textEntrance {
  0% {
    margin-top: 0px;
    padding: 10px;
    background-color: #07101300;
    color: rgba(255, 255, 255, 0); }
  100% {
    margin: 10px;
    padding: 10px;
    background-color: #071013a9;
    color: white; } }
